@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --flashyText: rgb(255, 122, 50);
  --darkerText: rgb(3, 1, 0);
}

body {
    margin: auto;
    padding: auto;
}

header, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 255, 255, 0.8) 0%,
    rgba(0, 0, 200, 1) 100%
  );
  font-family: "EB Garamond", serif;
}

header {
text-align: center;
}

footer {
min-height: 30vh;
}

footer a {
  margin: auto;
  padding: 10px;
  font-size: 30px;
  background-color: var(--flashyText);
  color: white;
  border-radius: 70px 0px 70px 70px;
  text-decoration: none;
}

a:hover {
  color: var(--flashyText);
  background-color: white;
}

h1 {
  display: inline-block;
  padding: 10px;
  color: var(--flashyText);
  font-size: 4em;
}

p {
    font-size: 1.75em;
    font-family: 'EB Garamond', serif;
    color: var(--darkerText);

}

.card {
  padding: 30px;
  justify-content: center;
  background-color: var(--flashyText);
}

#searchDiv {
    margin: 25px auto;
    border-radius: 70px 0px 70px 70px;
    padding: 30px;
}

form {
    display: flex;
    justify-content: center;
    text-align: center;
}


input {
    margin: 10px;
    padding: 2px;
    border-radius: 10px 10px 10px 10px;
    
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 5px solid black; */
  background-image: URL("https://pixfeeds.com/images/photography/nature/1280-503289271-cloudscape-taken-from-planes-window.jpg");
  background-size: cover;
}

#search-results div {
    border: 0px solid black;
    color: white;
    margin: 30px auto;
    padding: 10px;
    border-radius: 25px;
    font-family: "EB Garamond", serif;
    max-width: 700px;
}

#search-results h2 {
  margin-top: 50px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 2.5em;
  font-weight: light;
  color: white;
  background-color: var(--darkerText);
}

.block {
  flex-direction: row;
  background-image: linear-gradient(to top left, rgb(43, 40, 40) 0%, rgba(112, 112, 112, 0.8) 100%);
}

.info p{
  flex-direction: column;
  color: rgb(249, 248, 248);
  font-size: 1.25em;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#previousSearches {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  background-color: aliceblue;
  color: black;
  font-size: 1em;
  justify-content: center;
}



#previousSearches, ul {
  display: flex;
  list-style: none;
}

.listItem {
  margin: 10px auto;
  width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--flashyText);
  color: white;

}