@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: auto;
    padding: auto;
}

header, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 255, 255, 0.8) 0%,
    rgba(0, 0, 200, 1) 100%
  );
  font-family: "EB Garamond", serif;
}

header {
text-align: center;
}

footer {
text-align: start;
min-height: 30vh;
}

h1 {
  display: inline-block;
  padding: 10px;
  color: rgb(242, 89, 7);
  font-size: 80px;
}

p {
    font-size: 1.5em;
    font-family: 'EB Garamond', serif;
}

.card {
  padding: 30px;
  justify-content: center;
  background-color: rgba(200, 200, 230, 0.5);
}

#searchDiv {
    margin: 25px auto;
    border-radius: 70px 0px 70px 70px;
    padding: 50px;
}

form {
    display: flex;
    justify-content: center;
    text-align: center;
}


input {
    margin: 10px;
    padding: 2px;
    border-radius: 10px 10px 10px 10px;
    
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 5px solid black; */
  background-image: URL("https://pixfeeds.com/images/photography/nature/1280-503289271-cloudscape-taken-from-planes-window.jpg");
  background-size: cover;
}

#search-results div {
    border: 0px solid black;
    background-image: linear-gradient(to top left, rgb(43, 40, 40) 0%, rgba(112, 112, 112, 0.8) 40%);
    color: white;
    margin: 30px auto;
    padding: 10px;
    border-radius: 25px;
    font-family: "EB Garamond", serif;
    max-width: 700px;
    
}

.block {
  flex-direction: row;
}

.info {
  flex-direction: column;
  min-width: 500px;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 10px;
}
